# Maven
target/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Java
*.class

# Logs
*.log

# Env
.env

# OS
.DS_Store
Thumbs.db

# JavaFX build
out/
build/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/build/